
.gv-article-title {
	margin-bottom: 50px;
}

.gv-article-publish-datetime,
.gv-article-last-modified-datetime {
	font-size: 12px;
	color: #999999;
}

.gv-article-content {
	margin: 20px 0 50px;
	word-break: break-all;
}

.gv-submit-reply-panel {
	margin: 45px 0;
}

.gv-article-reply-template {
	display: none;
}

.gv-article-reply .gv-reply-published-datetime {
	margin-left: 20px;
	font-size: 12px;
	color: #999999;
}

.gv-article-reply .gv-reply-delete-button {
	font-size: 12px;
}

.gv-load-replies-button {
	margin: 20px 0;
}