{% extends "layout.html" %}

{% block main_content %}
<div class="col-md-9">
	<ol class="breadcrumb">
		<li><a href="#">所有文章</a></li>
		<li class="active">
			{% if article %}
				编辑文章
			{% else %}
				创建文章
			{% endif %}
		</li>
	</ol>
	
	<form action="{{url_for('.save_article')}}" method="post" role="form" class="gv-article-edit-form">
		<input type="hidden" name="id" value="{% if article %}{{article.id}}{% endif %}"/>
	
		<div class="form-group">
			<label for="inputTitle" class="control-label">标题</label>
			<input type="text" id="inputTitle" name="title" value="{% if article %}{{article.title}}{% endif %}" class="form-control" placeholder="标题"/>
		</div>
		
		<div class="form-group">
			<label class="control-label">分类</label>
			
			<div>
			{% for _c in catalog_list %}
				<label class="checkbox-inline">
					<input type="checkbox" name="catalog_id" value="{{_c.id}}"
					{% if article_catalogs and _c.id in article_catalogs %}
						checked="checked"
					{% endif %} />
					{{_c.name}}
				</label>
			{% endfor %}
			</div>
			
		</div>
		
		<div class="form-group">
			<label class="control-label">内容</label>
			<input type="hidden" value="{% if article %}{{article.content.content}}{% endif %}" id="gv-article-content"/>
			<!-- <textarea name="content" rows="30" cols="60" class="form-control" placeholder="内容">{% if article %}{{article.content.content}}{% endif %}</textarea> -->
			<!-- 加载编辑器的容器 -->
			<script id="container" name="content" type="text/plain" style="height: 350px;">{% if article %}{% autoescape false %}{{article.content.content}}{% endautoescape %}{% endif %}</script>
			<!-- 配置文件 -->
			<script type="text/javascript" src="{{url_for('public.static', filename='ue/ueditor.config.js')}}"></script>
			<!-- 编辑器源码文件 -->
			<script type="text/javascript" src="{{url_for('public.static', filename='ue/ueditor.all.js')}}"></script>
			<!-- 实例化编辑器 -->
			<script type="text/javascript">
				var article_content_editor = UE.getEditor("container");
			</script>
		</div>

		<div class="form-group">
			<label class="control-label">摘要</label>
			<textarea name="digest" rows="4" cols="60" class="form-control" placeholder="摘要">{% if article %}{{article.digest}}{% endif %}</textarea>
		</div>
		
		<button class="btn btn-success gv-article-edit-submit-button">
			{% if article %}
				保存修改
			{% else %}
				发表文章
			{% endif %}
		</button>
		<script>
			$(function() {
				var article_content = article_content_editor.getContent();
				
				var form_obj = $(".gv-article-edit-form");
				
				$(".gv-article-edit-submit-button").click(function(event) {
					$("#gv-article-content").val(article_content);
					form_obj.submit();
				});
			});
		</script>
		<a href="javascript:history.go(-1);" class="btn btn-link">取消</a>
	</form>
		
	
</div>
{% endblock %}