{% extends "layout.html" %}

{% block main_content %}
<div class="col-md-8">
	<link rel="stylesheet" href="{{url_for('.static', filename='article-list.css')}}">

	<ol class="breadcrumb">
		<li><a href="#">所有文章</a></li>
		<li class="active">分类{{catalog_name}}</li>
	</ol>
	
	<div class="gv-article-list">
		{% for _a in articles %}
		<div class="gv-article-block">
			<h4>
				<a href="{{ url_for('.view_article', _article_id=_a.id) }}">
					{{_a.title}}
				</a>
			</h4>
			<p>
				{{_a.digest}}
			</p>
			<div>
				<span class="gv-article-publish-datetime">发表于{{_a.published_datetime}}</span>
				<span class="gv-article-reply-count">
					<a href="{{url_for('.view_article', _article_id=_a.id)}}#replies">评论({{_a.reply_count}})</a>
				</span>
				<span class="gv-article-view-link">
					<a href="{{url_for('.view_article', _article_id=_a.id)}}">阅读全文</a>
				</span>
				
				{% if editable %}
					<div class="pull-right gv-article-control-buttons">
						<span class="hidden gv-article-id">{{_a.id}}</span>
						<button type="button" class="btn btn-link gv-edit-article-button">编辑文章</button>
						<button type="button" class="btn btn-link gv-delete-article-button">删除文章</button>
					</div>
				{% endif %}
				
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="">
		<ul class="pagination">
			{% if current_page_no==1 %}
				<li class="disabled">
					<a href="#">上一页</a>
				</li>
			{% else %}
				<li>
					<a href="{{ prefix_url }}/p/{{current_page_no-1}}">上一页</a>
				</li>
			{% endif %}
			
			{% for _i in range(max_page_no) %}
				{% if _i+1==current_page_no %}
					<li class="active">
						<a>{{_i+1}}</a>
					</li>
				{% else %}
					<li>
						<a href="{{ prefix_url }}/p/{{_i+1}}">{{_i+1}}</a>
					</li>
				{% endif %}
			{% endfor %}
			
			{% if current_page_no==max_page_no %}
				<li class="disabled">
					<a href="#">下一页</a>
				</li>
			{% else %}
				<li>
					<a href="{{ prefix_url }}/p/{{current_page_no+1}}">下一页</a>
				</li>
			{% endif %}
		</ul>
	</div>
	
	<script>
		$(function() { 
			$(".gv-article-list").on("click", ".gv-article-control-buttons button", function(event) {
				var article_id = $(this).siblings(".gv-article-id").text().trim();
				var button = $(this);
				
				if(button.is(".gv-edit-article-button")) {
					window.location.href = "/admin/article/edit/" + article_id;
					
				} else if(button.is(".gv-delete-article-button")) {
					if(window.confirm("确定要删除这篇文章？")) {
						$.post("{{url_for('admin.delete_article')}}",
								{"article_id": article_id},
								function(data) {
									if(data["_result"]) {
										var block = button.parents(".gv-article-block");
										block.fadeOut(500, function() {$(this).remove()});
									} else {
										alert(data["error_message"]);
									}
								},
								"json");
					}
				}
			});
			
		});
	</script>
</div>
{% endblock %}