
{% extends "base.html" %}

{% block layout %}
<div class="container">
	
	{% block header %}
	<div class="row">
		<div class="col-md-12">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a> <a class="brand" href="#">GVTiNG</a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="active">
									<a href="#">主页</a>
								</li>
								<li>
									<a href="#">链接</a>
								</li>
								<li>
									<a href="#">链接</a>
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">下拉菜单</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">下拉导航1</a>
										</li>
										<li>
											<a href="#">下拉导航2</a>
										</li>
										<li>
											<a href="#">其他</a>
										</li>
										<li class="divider">
										</li>
										<li class="nav-header">
											标签
										</li>
										<li>
											<a href="#">链接1</a>
										</li>
										<li>
											<a href="#">链接2</a>
										</li>
									</ul>
								</li>
							</ul>
							<ul class="nav pull-right">
								<li>
									<a href="#">右边链接</a>
								</li>
								<li class="divider-vertical">
								</li>
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#">下拉菜单</a>
									<ul class="dropdown-menu">
										<li>
											<a href="#">下拉导航1</a>
										</li>
										<li>
											<a href="#">下拉导航2</a>
										</li>
										<li>
											<a href="#">其他</a>
										</li>
										<li class="divider">
										</li>
										<li>
											<a href="#">链接3</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
	{% endblock %}
	
	
	<div class="row">
		{% block main_content %}
		{% endblock %}
		
		{% block sidebar %}
		<div class="col-md-4">
			<ul class="nav nav-list">
				<li class="nav-header">
					文章分类
				</li>
				<li class="active">
					<a href="{{url_for('blog.list_articles_by_author', _author_id=author_id)}}">所有文章</a>
				</li>
				
				{% for _c in catalogs %}
				<li>
					<a href="{{url_for('blog.list_articles_by_author_and_category', _author_id=author_id, _catalog_id=_c.id)}}">{{_c.name}}</a>
				</li>
				{% endfor %}
				
				<li>
					<form action="{{url_for('admin.create_catalog')}}") method="post"
						  class="form-inline" role="form">
						<div class="form-group">
							<input type="text" name="catalog_name" class="form-control" placeholder="新分类目录名"/>
						</div>
						<button type="submit" class="btn btn-default">
							<span class="glyphicon glyphicon-plus-sign"></span> 添加
						</button>
					</form>
				</li>
				
				<li class="divider">
				</li>
			</ul>
				
			<ul class="nav nav-list">
				<li class="nav-header">
					最新文章
				</li>
				<li>
					<a href="#">资料</a>
				</li>
				<li>
					<a href="#">设置</a>
				</li>
				<li class="divider">
				</li>
				<li>
					<a href="#">帮助</a>
				</li>
			</ul>
		</div>
		{% endblock %}
	</div>
</div>
{% endblock %}